/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  }
a {
  text-decoration: none;
  cursor: pointer;
}
li {
  list-style: none;
}
button {
  cursor: pointer;
}

/* navigation */

nav {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

nav ul {
  list-style: none;
}

.menu-items {
  padding-left: 15px;
}

.menu-items, .account-items{
  display: flex;
  align-items: center;
  width: 100%;
  /* border: 2px solid black; */
}

.menu-items li {
  padding-right: 30px;
}

.menu-icons {
  width: 16px;
  height: 16px;
}

.menu-items li:nth-of-type(3) a {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14.25px;
}

.menu-items li:nth-of-type(3) a:hover {
  text-decoration: underline;
}

.nav-logo {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-logo img {
  width: 185px;
}

.account-items {
  justify-content: flex-end;
  padding-right: 10px;
}

.account-items li {
  padding-left: 10px;
}

.account-items button {
  background: rgb(86, 123, 149);
  padding: 11px 12px 8px;
  color: white;
  font-family: sans-serif;
  text-transform: uppercase;
  border: 1px solid rgb(50, 104, 145);
  border-radius: 2px;
  font-weight: bold;
  font-size: 11px;
  line-height: 11px;
}

header {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

section {
  width: 800px;
  margin: 0 auto;
}

figure {
  max-width: 945px;
}


header h1 {
  font-size: 2rem;
}

.title {
  margin-top: 50px;
  margin-bottom: 30px;
}

.author, .meta-info {
  width: 100%;
}

.author {
  margin-top: 35px;
  margin-bottom: 20px;
}



.header-img img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

header figcaption p {
  color: #666;
  width: 85%;
  font-size: 0.9rem;
  margin-top: 6px;
}

header figcaption .credit {
  color: #888;
  font-size: 0.8rem;
}

/* meta-information and links before article */

.author p, .author a {
  color: #333;
}

.meta-info {
  display: flex;
  justify-content: space-between;
}

.social-icon {
  display: inline-block;
  height: 15px;
  vertical-align: middle;
  width: 15px;
  background-color: #eee;
  border: 1px #eee solid;
  border-radius: 100%;
  padding: 5px;
  width: 28px;
  height: 28px;
}

.social-icon:hover {
  background-color: white;
}

/* main content */

.text-start {
  padding-top: 2rem;
}

.text-container section p {
  color: rgb(51,51,51);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.25rem;
  line-height: 1.875rem;
}   

.space-1 {
  padding-bottom: 1rem;
}

.space-2 {
  padding-bottom: 2rem;
}

.article-link, .unlock-account a {
  color: rgb(50, 104, 145); 
}

.article-link {
  text-decoration: underline;
}

.unlock-account {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 1rem auto;
  margin: 2rem auto;
}

.unlock-account h5 {
  color: rgb(51,51,51);
  padding-top: 1rem;
}

.unlock-account h5, .unlock-account a {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

.unlock-account a {
  padding-bottom: 1rem;
}

.line-top, .line-bottom {
  margin: 0 auto;
  height: 1px;
  width: 80px;
  background-color: rgb(204,204,204);
}

.editors-picks {
  width: 210px;
}

.editors-picks h5 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(204,204,204);
}

.editors-picks div {
  margin-bottom: 15px;
}

.editors-picks a {
  display: grid;
  grid-template-columns: 40% 60%;
  font-size: 12px;
  line-height: 17px;
  color: rgb(51, 51, 51);
}

.editors-picks span {
  margin: auto 0px auto 10px;
}

.editors-picks a:hover {
  text-decoration: underline;

}

.editors-picks img {
  width: 100%;
  height: auto;
}

/* bottom grid */

/* footer {
  width: 80%;
  margin: 0 auto;
} */

.main-grid {
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-gap: 20px;
  padding: 30px;
}

.divider {
  padding: 20px 0;
  border-top: 1px solid black;
}

.divider h2 {
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

.divider a:hover {
  text-decoration: underline;
}

.article-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 15px;
  padding-bottom: 20px;
}

.item img {
  width: 100%;
}

.item h3, .popular-link a {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.10rem;
  line-height: 22px;
  font-weight: 400;
  padding: 5px 0;
}

.item span {
  color: rgb(153, 153, 153);
  font-size: 0.625rem;
  font-family: sans-serif;
}

.item figcaption span {
  text-align: right;
  display: block;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* side grid */

.popular-grid h3 {
  color: rgb(51,51,51);
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 700;
  padding: 20px 0;
  border-top: 1px solid
}

.popular-link {
  padding: 15px 0;
  border-top: 1px solid rgb(226,226,226);    
}

.popular-link a {
  color: #000;
}

.popular-link a:hover {
  color: rgb(153,153,153);
}


/* footer */

footer {
  padding: 30px;
}

.footer-logo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

footer::before {
  background-color: #fff;
  border-bottom: 1px solid #e2e2e2;
  border-top: 2px solid #e2e2e2;
  content: '';
  display: block;
  height: 1px;
  margin-top: 0;
}

.footer-logo img {
  width: 194px;
}

.footer-logo a {
  color: rgb(86, 123, 149);
  font-family: sans-serif;
  font-size: 10px;
  font-weight: 400;
  text-decoration: none;
}

.foot-grid {
  display: grid;
  grid-template-columns: 80% 20%;
  padding-bottom: 10px;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.footer-heading {
  font-family: sans-serif;
  color: rgb(51, 51, 51);
  font-size: 12px;
  font-weight: 900;
  line-height: 15px;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.footer-links a {
  color: black;
  font-size: 14px;
  font-family: sans-serif;
  display: inline-block;
  padding: 5px 0;
}

.footer-links a:hover {
  text-decoration: underline;
}

.subscription-links {
  border-left: 1px solid #e2e2e2;
  padding-left: 20px;
}

.featured-links {
  padding-bottom: 20px;
}

.featured-links a {
  display: inline-block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  line-height: 15px;
  color: #000;
  margin-bottom: 13px;
}

.featured-links a img {
  display: inline-block;
  height: 13px;
  width: 13px;
  margin-right: 7px;
  vertical-align: middle;
}

hr {
  border: 0;
  height: 0.25px;
  background-color: #e2e2e2;
  margin-top: 5px;
  margin-bottom: 5px;
}

.other-links a {
  color: rgb(0, 0, 0);
  display: inline-block;
  font-family: sans-serif;
  text-transform: capitalize;
  width: 150px;
  font-size: 11px;
  font-weight: 500;
  height: 23px;
  line-height: 21px;
  text-decoration: none;
  padding: 8px 0;
}

.bottom-links {
  border-top: 1px solid #e2e2e2;
}

.bottom-links ul {
  display: flex;
  justify-content: space-around;
}

.contact-links li {
  padding: 10px 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.contact-links p, .contact-links a {
  color: #666;
  font-size: 11px;
  font-family: sans-serif;
}

