/* Resets */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Georgia, 'Times New Roman', Times, serif;
}
a {
text-decoration: none;
cursor: pointer;
}
li {
  list-style: none;
}
button {
    cursor: pointer;
}

/* navigation */

nav {
display: flex;
padding: 10px;
justify-content: space-between;
align-items: center;
border-bottom: 1px solid #e2e2e2;
}

nav ul {
list-style: none;
}

.menu-items {
    padding-left: 15px;
}

.menu-items, .account-items{
display: flex;
align-items: center;
width: 100%;
/* border: 2px solid black; */
}

.menu-items li {
padding-right: 30px;
}

.menu-icons {
width: 16px;
height: 16px;
}

.menu-items li:nth-of-type(3) a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14.25px;
}

.menu-items li:nth-of-type(3) a:hover {
    text-decoration: underline;
}

.nav-logo {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-logo img {
    width: 185px;
}

.account-items {
    justify-content: flex-end;
    padding-right: 10px;
}

.account-items li {
    padding-left: 10px;
}

.account-items button {
    background: rgb(86, 123, 149);
    padding: 11px 12px 8px;
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
    border: 1px solid rgb(50, 104, 145);
    border-radius: 2px;
    font-weight: bold;
    font-size: 11px;
    line-height: 11px;
}

header {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

section {
    width: 800px;
    margin: 0 auto;
}

figure {
    max-width: 945px;
}


header h1 {
    font-size: 2rem;
}

.title {
    margin-top: 50px;
    margin-bottom: 30px;
}

.author, .meta-info {
    width: 100%;
}

.author {
    margin-top: 35px;
    margin-bottom: 20px;
}



.header-img img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

header figcaption p {
    color: #666;
    width: 85%;
    font-size: 0.9rem;
    margin-top: 6px;
}

header figcaption .credit {
    color: #888;
    font-size: 0.8rem;
}

/* meta-information and links before article */

.author p, .author a {
    color: #333;
}

.meta-info {
    display: flex;
    justify-content: space-between;
}

.social-icon {
    display: inline-block;
    height: 15px;
    vertical-align: middle;
    width: 15px;
    background-color: #eee;
    border: 1px #eee solid;
    border-radius: 100%;
    padding: 5px;
    width: 28px;
    height: 28px;
}

.social-icon:hover {
    background-color: white;

}



/* bottom grid */

.main-grid {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-gap: 20px;
    padding: 30px;
}

.divider {
    padding: 20px 0;
    border-top: 1px solid black;
}

.divider h2 {
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

.divider a:hover {
    text-decoration: underline;
}

.article-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 15px;
    padding-bottom: 20px;
}

.item img {
    width: 100%;
}

.item h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.10rem;
    line-height: 22px;
    font-weight: 400;
    padding: 5px 0;
}

.item span {
    color: rgb(153, 153, 153);
    font-size: 0.625rem;
    font-family: sans-serif;
}

.item figcaption span {
    text-align: right;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
}